@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");

.portada {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/img/tartafloresverdes.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
}
