@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
   
}
.titulo{
    display: flex;
    
}

h1{
    /* font-family: 'Carter One', cursive;
    font-size: 50px;
    text-align: center;  */
    /* position: absolute; */
    position:float;
    margin-top: 0;
    }

