

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.formulario{
    display: flex;
    gap:1;
    height:200px;
    
    width: 450px;
    /* max-width: 75em; */
    min-height: 70vh;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: -40px;
    
}
.texto {
    color: white;
   
    
}
.Input{
    width: 100%;
}
    
 #name{
    color: white;
   }

.textarea{
    width: 100%; 
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.boton{
    width: 100%;
    background-color: rgb(5, 150, 155);
    margin-top: 5px;
}
.boton:hover{
    background-color: aquamarine;
    
}