/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

/* .App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
/* Artboard1 */

/* 
position: relative;
width: 1600px;
height: 1200px;

background: #9546a1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */ 
/* 
.fondo img{
  width: 100%;
  height: 100%;
} */
/* .fondo{
  background-image: url('../src/assets/img/portada2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  padding-bottom: 3em ;
} */

/* .Footer{
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 50%;
  margin-top: 0;
}  */ 